.blog {
  width: 100%;
  overflow-x: clip;
}

.bannersection {
  background-image: url("../assets/images/banner/inner-banner.svg");
  background-color: rgb(54, 54, 54);
  padding: 5px;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.bannertextleftside {
  position: relative;
  margin: 50px 50px;
}

.borderdesign {
  position: absolute;
  left: 3px;
  top: 8px;
  transform: translateY(-50%);
  height: 1px;
  width: 20px;
  background-color: rgb(255, 255, 255);
}

.bannertextleftside h6 {
  color: rgb(232, 232, 232);
  font-size: 14px;
  margin: 25px 35px;
  font-family: "Montserrat", sans-serif;
}

.bannertextleftside h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 35px;
}

.leftextdisplaycenter {
  display: inline;
  font-weight: 700;
  color: rgb(227, 32, 74);
  font-family: "Montserrat", sans-serif;
}

.bannertextrightside {
  margin-top: 50px;
  padding: 50px;
  font-size: 16px;
}

.banneraboutsection .bannertextrightside span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#TabList {
  display: flex;
  justify-content: space-between;
}

#TabList li {
  background: #f2f2f2;
  padding: 10px 55px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
}

#TabList li:hover {
  background-color: #E3204A;
  color: #f2f2f2;
}


.blogTabBox {
  box-shadow: -2px -2px 10px gray;
  margin: 12px;
  border-radius: 5px;
}

.blogTabBox img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.blogTabBox .blogTabsDesBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.blogTabBox .blogTabsDesBox h6 {
  font-weight: 600;
  font-size: .95em;
}

.blogTabBox .blogTabsDesBox span {
  font-weight: 600;
  font-size: .85em;
}

.blogTabBox .overFlow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .80em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 6px 9px;
}

.blogTabBox p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .80em;
  font-family: "Montserrat", sans-serif;
  padding: 0px 7px 20px 10px;
}

.TabPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blogTabBox {
  width: 29% !important;
}

@media screen and (max-width: 1024px) {
  .bannertextleftside {
    margin: 30px;
  }
  .bannertextleftside h1 {
    font-size: 30px;
  }
  .bannertextrightside {
    padding: 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .bannertextleftside {
    margin: 20px;
  }
  .bannertextleftside h1 {
    font-size: 25px;
  }
  .bannertextrightside {
    padding: 20px;
  }
  .blogTabBox {
    width: 45% !important;
  }
}

@media screen and (max-width: 768px) {
  .bannertextleftside {
    margin: 10px;
  }
  .bannertextleftside h1 {
    font-size: 20px;
  }
  .bannertextrightside {
    padding: 10px;
    font-size: 12px;
  }
  .TabPanel {
    flex-wrap: wrap;
  }
}

@media screen and(max-width:575px){
  .blogTabBox {
    width: 45% !important;
  }
}
@media screen and (max-width: 480px) {
  .bannertextleftside {
    margin: 5px;
  }
  .bannertextleftside h1 {
    font-size: 18px;
  }
  .bannertextrightside {
    font-size: 10px;
  }
  .blogTabBox {
    width: 75% !important;
  }
}

@media screen and (max-width: 360px) {
  .bannertextleftside {
    margin: 3px;
  }
  .bannertextleftside h1 {
    font-size: 16px;
  }
  .bannertextrightside {
    padding: 3px;
    font-size: 8px;
  }
}