
.bgColor{
    background-color: #161414;
    padding: 40px 0;
}
.read__box {
    padding: 0 20px;
    position: relative;
    /* border-bottom: 2px solid red; */
}
.read__box .read__img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.read__box h5::after{
    /* bottom: 37px; */
    content: "";
    position: absolute;
    height: 2px;
    margin-top: 5spx;
    width: 100%;
    background: #e3204a;
}
/* .read__box div:after{
    bottom: 37px;
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: red;
} */
.read__box div{
    display: flex;
    margin-top: 20px;
}
.read__box div span{
    width: 35%;
    color: #c1c1c1;
    font-size: .7em;
    font-weight: 600;
    padding: 0 1.5em 0 0;
}
.read__box div p{
    font-size: .6em;
    width: 65%;
    color: #c1c1c1;
    font-weight: 500;
    line-height: 1.3;
}

