/* ServiceTechDevelopment upper section */

.ServiceTechDevelopmentsection {
    background-color: rgb(237, 238, 243);
}

.ServiceTechDevelopmentupper h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
}

.ServiceTechDevelopmentupper p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 12px;
}

.marquee_content {
    white-space: nowrap;
    animation: marquee 40s linear infinite;
    display: flex;
}

.marquee_content div {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    margin-top: 15px;
    height: 82px;
    padding: 0 20px;
}

.marquee_content div img {
    object-fit: contain;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ============================================================== */

/* ServiceTechDevelopment down section */

.ServiceTechDevelopmentdown h2 {
    font-family: "Montserrat", sans-serif;
    margin: 50px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
}

.Imageslider {
    /* display: flerx; */
    margin: 5px 0px;
    padding: 10px;
     margin: 5px 0px;
    padding: 10px;
    max-width: 200px;
    /* width: 250px; */
    height: 200px;
    /* border-bottom: 3px solid gray; */
}

.Imageslider2 {
    margin: 5px 0px;
    padding: 10px;
      width: 250px;
    height: 230px;
    /* border-bottom: 2px solid #c61a3c; */
    position: relative;
    top: 5px;
}
.Imageslider2 span{
       font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.Imageslider span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.ImagesliderContent {
    margin: 0px 50px;
}

.ImagesliderContent h4 {
    font-family: "Montserrat", sans-serif;
}

.ImagesliderContent p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.SlideImage {
    width: 100%;
    height: 100%;
}

.ArrowIcons {
    display: flex;
    align-items: center;
}

.ArrowIcons span {
    margin: 5px;
    background-color: #c61a3c;
    border-radius: 50%;
    padding: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ArrowIcons span:hover {
    background-color: #E4496B;
}

.LeftArrow {
    color: #fff;
}

.RightArrow {
    color: #fff;
}

/* .border{
    border-bottom:4px solid gray ;
} */