.bgColor {
    background: #E3E3E3;
    padding: 70px 80px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    background-image: url(../../assets/images/faq/faq-texture.webp);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 300px;
}

.box h5 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b9b9ba;
    text-transform: capitalize;
    word-break: break-word;
    font-size: 3em;
    font-weight: 700;
}

.box span {
    padding: 30px 0;
    font-weight: 600;
}

.box .iconsBox {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    left: 86px;
    bottom: 25px;
}

.box .iconsBox svg {
    font-size: 2em;
    color: #e3204a;
}

.box .hoverContent {
    position: absolute;
    background-color: #e3204a;
    top: 0;
    left: 0;
    height: 500px;
    padding: 15px 10px;
    display: none;
}

.box .hoverContent h6 {
    font-size: 3em;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}

.box .hoverContent p {
    font-size: 0.70em;
    color: white;
    padding: 15px 0px;
}

.box:hover .hoverContent {
    display: block;
    animation: shutter-in-left 1s linear 0s 1 normal none;
}


@keyframes shutter-in-left {

    0% {
        transform: rotateY(100deg);
        transform-origin: left;
    }

    100% {
        transform: rotateY(0);
        transform-origin: left;
    }
}