.bgColor {
    background: #E3E3E3;
    padding: 70px 80px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    background-image: url(../../assets/images/faq/faq-texture.webp);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 350px;
}

.box h5 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b9b9ba;
    text-transform: capitalize;
    word-break: break-word;
    font-size: 3em;
    font-weight: 700;
}

.box span {
    padding: 6px 0;
    font-weight: 600;
    font-size: 15px;
}

.box .iconsBox {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    left: 0;
    bottom: 25px;
    width: 100%;
    z-index: 0;
}

.box .iconsBox svg {
    font-size: 2em;
    color: #e3204a;
}

.box .hoverContent {
    position: absolute;
    background-color: #e3204a;
    top: 0;
    left: 0;
    height: 500px;
    padding: 15px 10px;
    opacity: 0;
}
.box .hoverContent h6 {
    font-size: 3em;
    font-weight: 700;
    color: white;
    padding-top: 10px;
    opacity: 0;
    transition: 1s linear;
}

.box .hoverContent p {
    font-size: 0.73em;
    color: white;
    padding: 15px 0px;
    transition: 1s linear;
    opacity: 0;
}

#leftTop {
    opacity: 1;
    animation: shutter-in-left 0.50s linear 0s 1 normal none;
}
#rightTop {
    opacity: 1;
    animation: shutter-in-right 0.50s linear 0s 1 normal none;
}
#rightbottom {
    opacity: 1;
    animation: shutter-in-bottom 0.50s linear 0s 1 normal;
}

@keyframes shutter-in-right {
			
    0% {
        transform:rotateY(-100deg);
        transform-origin:right;
        opacity:0;
    }
    100% {
        transform:rotateY(0);
        transform-origin:right;
        opacity:1;
    }
}
@keyframes shutter-in-left {
			
    0% {
        transform:rotateY(100deg);
        transform-origin:left;
        opacity:0;
    }
    100% {
        transform:rotateY(0);
        transform-origin:left;
        opacity: 1;
    }
}
@keyframes shutter-in-bottom {
			
    0% {
        transform:rotateX(100deg);
        transform-origin:bottom;
        opacity:0;
    }
    100% {
        transform:rotateX(0);
        transform-origin:bottom;
        opacity:1;
    }
}
.box .hoverContent:hover h6{
    opacity: 1;
    transition: 1s linear;
}
.box .hoverContent:hover p {
    opacity: 1;
    transition: 1s linear;
}

@media screen and (max-width:992px){
    .box {
        margin: 0 10px;
    }
}
@media screen and (max-width:480px){
    .box {
        margin: 0 0px;
        border-radius: 0;
    }
    .bgColor {
        background: #E3E3E3;
        padding: 70px 19px;
    }
    .box .iconsBox {
        position: relative;
        left: 0;
        bottom: -20%;
    }
}