.row{
 padding: 30px 0px;
}

.container{
    /* height: 100vh; */
}
.heading{
    font-size: 1.89em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.active{
    color: #c61a3c;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategrey;
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 24px;
     padding: 5px 0px;
     animation: tilt-in-left-1 1s ease 0s 1 normal forwards;
     

}
@keyframes tilt-in-left-1 {
			
		0% {
			transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);
			opacity:0;
		}
		100% {
			transform:rotateX(0deg) translateX(0) skewX(0deg);
			opacity:1;
		}
	}

.list{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategrey;
     font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 24px;
        padding: 5px 0px;

}

.secRowRes{
    display: none;
}

.ChlidActive{
     /* color: #c61a3c; */
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightslategrey; */
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 18px;
     padding: 5px 0px;
       color: #c61a3c;
    border-bottom: 1px solid #c61a3c;
    animation: shutter-in-left 1s linear 0s 1 normal none;
    margin-left: 10px;
}

.MobileChlidActive{
     /* color: #c61a3c; */
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightslategrey; */
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 14px;
     padding: 5px 0px;
       color: #c61a3c;
    /* margin-left: 10px; */
}
.ul{
    display: flex;
    align-items: center;
}

.Imagess{
    width: 100%;
    height: 100%;
    animation: swirl-in-left-clock 1s linear 0s 1 normal none;
}
@keyframes swirl-in-left-clock {
			
		0% {
			transform:rotate(-90deg) scale(0);
			transform-origin:0 50%;
			opacity:0;
		}
		100% {
			transform:rotate(0) scale(1);
			transform-origin:0 50%;
			opacity:1;
		}
	}

@keyframes shutter-in-left {
			
		0% {
			transform:rotateY(100deg);
			transform-origin:left;
			opacity:0;
		}
		100% {
			transform:rotateY(0);
			transform-origin:left;
			opacity:1;
		}
	}
.chlidlist{
        display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightslategrey; */
     font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 20px;
        padding: 5px 0px;
}
.Mobilechlidlist{
        display: flex;
    align-items: center;
    /* border-bottom: 1px solid lightslategrey; */
     font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
        padding: 5px 0px;
}

.ArrowIcon{
    background-color: #c61a3c;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    color: #fff;
    font-size: 20px;
}
.dash{
        position: relative;
    bottom: 20px;
    margin: 0px 10px;
    height: 10px;
}


@media screen and (max-width:1100px) {
    .active{
     font-size: 18px !important;
     

}
.list{
      font-size: 18px;

}
.dash{
    bottom: 15px;
}
.ChlidActive{
     font-size: 16px;
}
.chlidlist{
    font-size: 16px;
}

.Imagess{
    width: 80%;
    height: 80%;
}
}

@media screen and (max-width:992px) {
    .active{
     font-size: 15px !important;
     

}
.list{
      font-size: 15px;

}
.ChlidActive{
     font-size: 14px;
}
.chlidlist{
    font-size: 14px;
}
.Imagess{
    width: 60%;
    height: 60%;
}
}

@media screen and (max-width:767px) {
    .active{
     font-size: 14px !important;
     

}
.list{
      font-size: 14px;

}
.ChlidActive{
     font-size: 12px;
}
.chlidlist{
    font-size: 12px;
}
.Imagess{
    width: 40%;
    height: 40%;
}
.secRow{
    display: none;
}

.secRowRes{
    display: block;
}
}