/* Expansion section left */

.Expansionsectionleft {
    background-color: #EDEEF3;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.Expansionsectionleft h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    padding: 20px;
}

.Expansionheadersub {
    display: inline;
    color:  rgb(227, 32, 74);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.Expansionsectionleft img {
    width: 100%;
    height: auto;
}

.CitiesInfo {
    display: flex;
    /* align-items: center; */
   
}

    /* .USAIH5,
    .UAEIH5,
    .PAKISTANIH5 {
    flex: 1;
    font-family: "Montserrat", sans-serif;
} */

.USAIH5{
    margin: 5px;
    padding: 10px;
}

.UAEIH5{
    margin: 5px;
    padding: 10px;


}

.PAKISTANIH5{
    margin: 5px;
    padding: 10px;

}

.USAIH5 img,
.UAEIH5 img,
.PAKISTANIH5 img {
  width: 62px; 
  height: 50px; 
}

.PAKISTANIH5 img {
    position: relative;
    top: 7px;
    right: 5px;
}

.USAContent span{
  font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.USAContent p{
  font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;

    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.PAKISTANContent  span{
    font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}
.UAEContent span{
    font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}
.UAEContent p{
 font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.PAKISTANContent p{
   font-size: .725em;
  color: #000;
  font-weight: 600;
  text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}


/* ======================================================================= */

/* Expansion section right */

.ContactForm {
    margin-left: 50px;
    margin-top: 50px;
}

.ContactForm h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.Expansionheaderrightsub {
    display: inline;
    color:  rgb(227, 32, 74);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.ContactForm h4 {
    font-family: "Montserrat", sans-serif;
    margin: 25px 0px;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.Input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: rgba(217,217,217,.3);
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.Input:focus {
    border: none;
    
}

.textarea {
    border: none;
    background: rgba(217,217,217,.3);
    outline: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    height: 130px;
    padding: 8px;
}

.Input:focus{
  border: 2px solid #c61a3c;

}


.textarea{
    border: none;
     /* border-bottom: 1px solid rgba(121, 121, 121, .2); */
     background-color: #dee2e6;
    outline: none;
    font-size: 14px;
    color: rgba(77, 75, 75, 0.993);
    font-family: "Montserrat", sans-serif;
    /* height: 33px; */
}

.textarea:focus{
  border: 2px solid #c61a3c;

}
.Input option{
 font-size: 12px;
    color: rgba(77, 75, 75, 0.993);
    font-family: "Montserrat", sans-serif;
}
.Formgroup{
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
    padding: 10px;
    /* width: 50%; */
}
.Formgrouptextarea{
      display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
 
}

.row{
    display: flex;
    flex-direction: row;
  
}
.label{
    font-size: 13px;
    color: rgba(68, 67, 67, 0.89);
    font-family: "Montserrat", sans-serif;
}

.button{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sendIcon {
    background-color: #c61a3c;
    border-radius: 50%;
    padding: 11px 14px;
    color: white !important;
    margin-left: 5px;
}

.sendtext {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.formpara {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #363636;
    margin-bottom: 0;
     font-family: "Montserrat", sans-serif;
         margin: 0px 0px 1.5em 1.5em;
}

/* dadd */


.Rightside{
 height: 100vh;

  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 40px !important;
}

.FormContainer{
  background: #fff;
  width: 100%;
  padding: 15px;
}
.ContactForm h2{
        font-weight: 600;
        font-size: 1.785em;
    line-height: 123.5%;
    letter-spacing: -.045em;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    color: #000;
}
.ContactForm h2 b{
    background: linear-gradient(90deg, #e3204a, #fff, #e3204a, #fff);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: bgMove 3s linear infinite reverse;
    mix-blend-mode: normal;
    font-family: "Montserrat", sans-serif;
}
.ContactForm h3 {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin: 0 0 0.5em 0;
    font-size: 16px;
    font-weight: 700;
}


.Input {
    border: none;
    background: rgba(217, 217, 217, .3);
    outline: none;
    font-size: 14px;
    color: rgba(77, 75, 75, 0.993);
    font-family: "Montserrat", sans-serif;
    height: 33px;
}

.Input:focus {
    border: 2px solid #c61a3c;
}


.textarea {
    border: none;
    background: rgba(217, 217, 217, .3);
    outline: none;
    font-size: 14px;
    color: rgba(77, 75, 75, 0.993);
    font-family: "Montserrat", sans-serif;
}

.textarea:focus {
    border: 2px solid #c61a3c;
}

.Input option {
    font-size: 12px;
    color: rgba(77, 75, 75, 0.993);
    font-family: "Montserrat", sans-serif;
}

.Formgroup {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50% !important;
}

.Formgrouptextarea {
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex-direction: row;
}

.label {
    font-size: 13px;
    color: rgba(68, 67, 67, 0.89);
    font-family: "Montserrat", sans-serif;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.sendIcon {
    background-color: #fff;
    border-radius: 50%;
    padding: 15px 15px;
    color: #c61a3c!important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    margin-left: 5px;
}
.sendIcon2{
       background-color: #c61a3c;
    border-radius: 50%;
    padding: 15px 15px;
    color:  #fff !important;
    margin-left: 5px;
}
.sendtext {
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.hovertext{
    color: #c61a3c;
    font-weight: 600;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.sIcon{
 font-size: 30px; 

}
.formpara {
    font-style: normal;
    font-weight: 500;
    font-size: .567em;
    color: #363636;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    margin: 0px 0px 1.5em 3.5em;
}

.formpara b{
    color: #c61a3c;
}

.iconName{
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid gray;
    padding: 5px;
}

.iconName h5{
    margin: 0px;
}

.iconName2{
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #c61a3c;
    padding: 5px;
}

.iconName2 img{
    color: #c61a3c;
}
.iconName2 h5{
    color: #c61a3c;
    margin: 0px;
}

/* For screens smaller than 992px (tablets and below) */
@media (max-width: 992px) {
    .Expansionsectionleft {
      padding: 20px;
    }
  
    .CitiesInfo {
      flex-direction: column;
    }
  
    .col-4 {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .Rightside {
      padding: 20px;
    }
  
    .ContactForm {
      margin-left: 0;
      margin-top: 0;
    }
    .USAIH5Box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

  }
  
  /* For screens smaller than 576px (phones) */
  @media (max-width: 575px) {
    .Expansionsectionleft h3 {
      font-size: 1.5rem;
    }
  
    .USAContent span,
    .USAContent p,
    .UAEContent span,
    .UAEContent p,
    .PAKISTANContent span,
    .PAKISTANContent p {
      font-size: 12px;
    }
  
    .ContactForm h2 {
      font-size: 1.2rem;
    }
    .CitiesInfo {
    
        flex-direction: column;
         display: flex;
      align-items: center;
      }
      .USAIH5Box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
  }

  /* For screens smaller than 480px */
@media (max-width: 480px) {
    .Expansionsectionleft h3 {
      font-size: 1.2rem;
    }
  
    .CitiesInfo {
    
      flex-direction: column;
       display: flex;
    align-items: center;
    }
  
    .col-4 {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .Rightside {
      padding: 15px;
    }
  
    .ContactForm {
      margin-left: 0;
      margin-top: 0;
    }
  
    .ContactForm h2 {
      font-size: 1rem;
    }
  
    .Formgroup,
    .Formgrouptextarea {
      width: 100%;
    }
    .USAIH5Box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

  }
  
  
  /* For screens larger than 1200px */
  @media (min-width: 1200px) {
    /* Add your specific styles for larger screens if needed */
  }
  