/* Expansion section left */

.Expansionsectionleft {
    background-color: #EDEEF3;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.Expansionsectionleft h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    padding: 20px;
}

.Expansionheadersub {
    display: inline;
    color:  rgb(227, 32, 74);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.Expansionsectionleft img {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

.CitiesInfo {
    display: flex;
}

    .USAIH5,
    .UAEIH5,
    .PAKISTANIH5 {
    flex: 1;
    font-family: "Montserrat", sans-serif;
}

.USAIH5 img,
.UAEIH5 img,
.PAKISTANIH5 img {
  width: 50px; 
  height: 50px; 
}

.USAContent,
.UAEContent,
.PAKISTANContent {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

/* ======================================================================= */

/* Expansion section right */

.ContactForm {
    margin-left: 50px;
    margin-top: 50px;
}

.ContactForm h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
}

.Expansionheaderrightsub {
    display: inline;
    color:  rgb(227, 32, 74);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.ContactForm h4 {
    font-family: "Montserrat", sans-serif;
    margin: 25px 0px;
    font-weight: 600;
    text-align: left;
    font-size: 20px;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.Input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: rgba(217,217,217,.3);
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}

.Input:focus {
    border: none;
    
}

.textarea {
    border: none;
    background: rgba(217,217,217,.3);
    outline: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    height: 130px;
    padding: 8px;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sendIcon {
    background-color: #c61a3c;
    border-radius: 50%;
    padding: 11px 14px;
    color: white !important;
    margin-left: 5px;
}

.sendtext {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.formpara {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #363636;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    margin: 0px 0px 1.5em 1.5em;
    margin-left: 50px;
}
