

.Container{
    background-color: transparent !important;;
    overflow-x: clip;
    width: 100vw;
}
.row{
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    z-index: 9999;
}

/* .Container::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */
.logoCont{
    padding: 0px;
    height: 50px;
  background-color: #363636;
  display: flex;
    align-items: center;



}
.logo{
  width: 100%;
}

.brandImage{
    display: block;
    width: 80%;
    height: auto;
    transition: opacity .5s;
    padding: 15px;
}
.MENU{
    height: 50px;
    padding: 0px;
    background-color: rgb(0 0 0 / 42%);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.HeaderUl{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    padding: 15px;
}
.HeaderUl li{
    list-style: none;
    margin: 0 15px;
    font-size: 12px;
    font-weight: 700;
}
.HeaderUl li a{
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;


}
.HeaderUl li:hover{
   /* border-bottom: 2px solid #e3204a; */
   cursor: pointer;

}
.HeaderUl li a:hover{
   color: #e3204a;

}

.Expert{
    display: flex;
    align-items: center;
    /* padding: 0px 13px; */
    height: 50px;
    justify-content: flex-end;
    background-color: rgb(0 0 0 / 42%);


}

.ExpertResponsive{
     display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
        height: 50px;
}
.ExpertBtn{
    height: 100%;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.ExpertBtn2{
     height: 100%;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
}
.ExpertBtn:hover{
    background-color: #e3204a;
    color: white;

    
}

.ExpertBtn span{
    font-size: 12px;
    font-weight: 700;
    color: #e3204a;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.ExpertBtn:hover span{
    color: white;
}

.ExpertWhatsapp{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #e3204a;
     padding: 5px 12px;
    color: white;

}
.ExpertPhone{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    background-color:#e3204a ;
    color: white;
}

.ExpertPhone:hover{
    background-color: white;
    color: #e3204a;

}
.ExpertWhatsapp:hover{
    background-color: white;
    color: #e3204a;
}


/* end */

/* contact form */

.FormRow{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    /* width: 100vw; */

    height: 100vh;
    margin: 0px;
    padding: 0px;
    background:rgba(17, 17, 17, 0.808);
    opacity: 1px;
    z-index: 99999;
    animation: shutter-in-left 1s ease-in 0s 1 normal none;
}




@keyframes shutter-in-left {
			
		0% {
			transform:rotateY(100deg);
			transform-origin:left;
			opacity:0;
		}
		100% {
			transform:rotateY(0);
			transform-origin:left;
			opacity:1;
		}
	}

.MenuRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    /* left:500; */
    left: 0;
    bottom:0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background:rgba(17, 17, 17, 0.808);
    opacity: 1px;
    z-index: 9;
    animation: shutter-in-right 1s ease 0s 1 normal none;
}

@keyframes shutter-in-right {
			
		0% {
			transform:rotateY(-100deg);
			transform-origin:right;
			opacity:0;
		}
		100% {
			transform:rotateY(0);
			transform-origin:right;
			opacity:1;
		}
	}

.MenuList{
     width: 40%;
    height: 100vh;
    background-color: #fff;
    padding: 25px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

@media screen and (max-width:768px) {
    .MenuList{
        width: 50vw;
    }
}

@media screen and (max-width:400px) {
    .MenuList{
        width: 100vw;
    }
}

.listing{
    display: flex;
    flex-direction: column;
    padding: 0px;

    /* border-bottom: 1px solid black; */
}
.MenuListing{
    margin: 0px;
    padding: 0px;

}



.listing li{
    list-style: none;
    border-bottom: 1px solid black;
}
.listing li a{
    padding: 0.75em 1em;
    color: #000;
    font-size: 0.775em;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
     font-family: "Montserrat", sans-serif;
}

.listTabv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactForm{
    width: 80%;
    height: 100vh;
    background-color: #fff;
    padding: 25px;
    overflow: hidden;
    
}

.Cross{
    display: flex;
    justify-content: flex-end;
}

.CrosDiv{
   background-color: black;
    border-radius: 50%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.CrossIcon{
    color: white;
}
.ManuIcon{
 color: #e3204a;
    font-size: 28px;
    font-size: 900;
}
.ManuIcon2{
     color: #e3204a;
    font-size: 28px;
    z-index: 9999 !important;
    font-size: 900;

}
.ContactInput{
    height: 40px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 12px;
    outline: none;
}
.ContactInput:focus{
    border: none;
    border-bottom: 1px solid #000000;

}
.InputBox label{
    font-size: 12px;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

.InputBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}
.submitbtn{
    border: none;
    background-color: #e3204a;
    color: white;
    padding: 10px 15px;
}


.responsiveRow{
    display: none !important;
    height: 50px;
    padding: 0px;
    background-color: #36363634;
    display: flex;
    align-items: center;
    justify-content: flex-end;
     position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    z-index: 9999;
    margin: 0;

}

/* services tab */

.servicesTable{
    /* display: none;        */
    width: 100vw;
    /* background-color: #fff; */
    height: 50vh; 
    /* top: ; */
    position: absolute;
    /* top: px; */
    /* left: 100px; */
    padding: 0;
    right: 0;
    margin: 0;
    top: 0;
    margin-top: 50px;
    animation: shutter-in-top 1s ease 0s 1 normal none;
    background-color: #671aa3;
    z-index: 9999 !important;
}

@keyframes shutter-in-top {
			
		0% {
			transform:rotateX(-100deg);
			transform-origin:top;
			opacity:0;
		}
		100% {
			transform:rotateX(0deg);
			transform-origin:top;
			opacity:1;
		}
	}

.Tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    z-index: 9999;
}

.dropList{
  /* padding: 5px; */
  list-style: none !important;
  cursor: pointer;
  margin-top: 5px;
}
 .dropList:hover{
    border: none;
 }

.dropList a{
    text-decoration: none  !important ;
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
     padding: 10px 15px;
     font-family: "Montserrat", sans-serif;
}
.dropList a:hover{
  background-color: #e3204a;
  border-radius: 20px;
  text-decoration: none;
  border: none !important;
  
}
/* @keyframes shutter-in-top {
			
		0% {
			transform:rotateX(-100deg);
			transform-origin:top;
			opacity:0;
		}
		100% {
			transform:rotateX(0deg);
			transform-origin:top;
			opacity:1;
		}
	} */

.Down{
    z-index: 99999;
    margin: 0;
    /* padding: 0; */

}    

.RowTabs{
        display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid white;

}

.ContentRow {
    display: flex;
    padding: 15px;
}
.ContentCol{
    display: flex;
}
.TabHead{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    
}

.TabContent{
    display: flex;
    /* padding: 5px; */
    align-items: center;
    padding: 0 5px;
}


.TabContent a{
    color: #fff !important;
    text-decoration: none;
    padding: 1px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

}

.linkdiv div:hover{
    border-bottom: 4px solid white;
    animation: flip-in-ver-left 1s linear 0s 1 normal none;
}
/* .TabContent a:hover{
    border-bottom: 2px solid #fff;
    animation: flip-in-ver-left 1s linear 0s 1 normal none;
} */
@keyframes flip-in-ver-left {
			
		0% {
			transform:rotateY(80deg);
			opacity:0;
		}
		100% {
			transform:rotateY(0);
			opacity:1;
		}
	}
.ImageDiv{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 4px;
    border-radius: 6px;
    width: 20px;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.WordPress{
    width: 15px;
    height: 15px;
}

.Arcadian{
    background-color: transparent;
}
@media only screen and (max-width: 992px) {
    .row{
        display: none !important;
    }
    .responsiveRow{
        display: block !important;
        display: flex !important;
        z-index: 9999 !important;
    }
    .servicesTable{
        display: none;
    }

}

@media screen and (max-width: 768px){
    
}