.caseStudy{
    width: 100%;
    overflow: clip;
    background: #161414;
}
.heroSection {
    background-image: url(../assets/images/caseStudies/inner-banner.svg) !important;
    background-size: cover !important;
    /* height: 50vh; */
    width: 100%;
    /* background-blend-mode: overlay !important; */
    background: #000000bd;
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    
}

.header{
    display: flex;
    align-items: flex-end;
    padding: 50px;
}

.heroLeftSide {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.heroRightSide{
   padding: 40px;
}

.heroRightSide p{
     color: #fff;
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.heroLeftSide p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
}
.heroLeftSide p span{
    position: relative;
    bottom: 8px;
}

.heroLeftSide h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 35px;
    color: white;
}

.heroLeftSide h2 b {
    font-size: 1.2em;
    line-height: 1.22;
    letter-spacing: -.045em;
    text-transform: capitalize;
    color: #e3204a;
    font-weight: 700 !important;
}



@media screen and (max-width: 992px) {
 
    .header{
        display: flex !important;
        flex-direction: column !important;
    }
    .heroSection{
        height: 60vh;
    }
    .heroLeftSide p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
}
.heroLeftSide {
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* align-items: end; */
}
.heroRightSide{
   /* padding: 40px; */
    /* padding: 25px; */
    padding: 0px;
}
.heroRightSide p{
     color: #fff;
    font-size: .750em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
}


@media screen and (max-width: 400px) {
    .heroSection{
        height: 80vh;
    }

    .heroLeftSide h2 b{
        display: none !important;
    }
}

@media screen and (max-width: 300px) {
    .heroSection{
        height: 90vh;
    }
}