.caseStudy{
    width: 100%;
    overflow: clip;
}
.heroSection {
    background-image: url(../assets/images/caseStudies/inner-banner.svg) !important;
    background-size: cover !important;
    height: 50vh;
    width: 100%;
    /* background-blend-mode: overlay !important; */
    background: #000000bd;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.header{
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
}
.heroLeftSide {
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* align-items: end; */
}
.heroRightSide{
   padding: 40px;
    /* padding: 25px; */
}
.left{
    display: flex;
    justify-content: center;
}
.right{
    display: flex;
    justify-content: center;
}

.heroRightSide p{
     color: #fff;
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.heroLeftSide p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
}
.heroLeftSide p span{
    position: relative;
    bottom: 8px;
}

.heroLeftSide h2{
    font-size: 1.5em;
    line-height: 1.22;
    letter-spacing: -.045em;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}

.heroLeftSide h2 span {
    font-size: 1.5em;
    line-height: 1.22;
    letter-spacing: -.045em;
    text-transform: capitalize;
    color: #e3204a;
    font-weight: 700;
}

