.leftContainer {
    background-color: #e3204a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 10px 0;
}

.rightContainer {
    background-color: #363636;
    display: flex;
    align-items: center;
    padding: 150px 10px 10px 20px;
}

.heading {
    position: absolute;
    left: 250px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b9b9ba;
    text-transform: capitalize;
    word-break: break-word;
    font-size: 4.7em;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 1;
    padding: 20px;
}

.letsbuild {
    color: white;
    margin: 0px;
}

.something {
    font-size: 2rem;
    color: white;
    font-weight: 600;
     font-family: "Montserrat", sans-serif;
}

.footerPara {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    color: white;
     font-family: "Montserrat", sans-serif;
}

.innnerRow {
    display: flex;
    flex-direction: row;
}

.DashContainer {
    width: 10%;
}

.address {
    color: white;
     font-family: "Montserrat", sans-serif;
    margin: 0px;
    font-size: 10px;

}

.dash {
    color: white !important;
    font-weight: 700;
    margin-left: 10px;
    margin: 0px;
     font-family: "Montserrat", sans-serif;
}

.addressContainer {
    width: 50%;
    margin-top: 10px;
}

.FooterIcon {
    margin: 0px 5px;
    font-size: 14px;
    margin-top: 10px;
}

.LinkHeading {
    border-left: 2px solid white;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
     font-family: "Montserrat", sans-serif;

}

.ulFooter li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 5px;
     font-family: "Montserrat", sans-serif;
}

@media screen and (max-width:992px) {
    .heading {
        left: 0px;
    }
    .leftContainer {
        align-items: unset;
        padding: 85px 0 10px 40px;
        background-color: #363636;
    }
    .rightContainer {
        padding: 37px 50px;
    }
}

@media screen and (max-width:768px){
    .heading {
        text-align: center;
        font-size: 2em;
    }
    .address {
        color: white;
       
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-wrap: wrap;
    
    }
}

@media screen and (max-width:480px){
    .rightContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .heading {
        text-align: center;
        font-size: 2em;
    }
    .letsbuild {
        color: white;
        margin: 0px;
    }
    
    .something {
        font-size: 1rem;
        color: white;
        font-weight: 600;
         font-family: "Montserrat", sans-serif;
    }
    .leftContainer {
        align-items: unset;
        padding: 85px 0 10px 40px;
        background-color: #363636;
    }
    .dash {
      display: none;
    }
    .address {
        color: white;
       
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    
    }
    .heading {
        font-size: 1.7em;
        font-family: sans-serif;
        
    }
    .DashContainer {
        display: none;
    }
    .addressContainer{
        width: auto !important;
    }
    .addressContainer ul{
        padding: 0;
    }
    
}