

.leftContainer{
   height: 90vh;
   background-color: #e3204a;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   /* padding: 50px; */
}
.rightContainer{
    height: 90vh;
    background-color: #363636;
    display: flex;
   /* justify-content: center; */
   align-items: center;
   /* padding: 50px; */
}
.heading{
    position: absolute;
     left: 250px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b9b9ba;
    text-transform: capitalize;
    word-break: break-word;
    font-size: 4.7em;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 1;
    padding: 20px;
}

.letsbuild{
    color: white;
    margin: 0px;
}
.something{
    font-size: 2rem;
    color: white;
    font-weight: 600;
}
.footerPara{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    color: white;
}
.innnerRow{
    display: flex;
    flex-direction: row;
}
.DashContainer{
    width: 10%;
}
.address{
    color: white;
    margin: 0px;
    font-size: 10px;
    
}
.dash{
    color: white !important;
     font-weight: 700;
     margin-left: 10px;
     margin: 0px;
}

.addressContainer{
    width: 50%;
    margin-top: 10px;
}
.FooterIcon{
    margin: 0px 5px;
    font-size: 14px;
    margin-top: 10px;
}
.LinkHeading{
    border-left: 2px solid white;
    padding: 5px;
    color: #fff;
  font-size: 12px;
  font-weight: 500;

}

.ulFooter li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
}

@media screen and (max-width:992px) {
    .row1{
        display: flex;
        flex-direction: column;
    }
    .leftContainer{
        background-color: #363636;
    }
    .heading{
        font-size: 2.5em;
        left: 200px;
    }
    .leftContainer{
       height: 60vh;
       align-items: flex-start;
       padding: 30px;
    }
    .rightContainer{
        height: 40vh;
        justify-content: space-around;
    }
    .letsbuild{
        color: white;
        margin: 0px;
        font-size: 1em;
        }
    .something{
        font-size: 1.5em;
        color: white;
        font-weight: 600;
        margin: 0px;
    }   
}