@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* body,section{
    overflow-x: clip;
} */
/* :root{
    overflow-x: clip;
} */
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul,
a {
    font-family: "Monctserrat", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: block;
}
a{
    text-decoration: none !important;
    color: black;
}
button {
    font-family: "Monctserrat", sans-serif;
    border: none;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

span {
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
  }
.slick-slide:focus{
    outline: none;
}

/* ========================= BRANDING */
.branding .slick-dots{
    display: flex !important;
    justify-content: center;
}
.branding .slick-dots li button{
    width: 130px;
    background: rgb(219, 216, 216);
    height: 4px;
    color: transparent;
}
.branding .slick-dots li.slick-active button{
    background: #e3204a;
}

/* WORTH READ SLIDER CSS ========== */
.worth_read .slick-dots{
    display: flex !important;
    justify-content: center;
}
.worth_read .slick-dots li button{
    width: 130px;
    background: rgb(219, 216, 216);
    height: 4px;
    color: transparent;
}
.worth_read .slick-dots li.slick-active button{
    background: #e3204a;
}

/* EXPERTISE GLOBAL CSS ================== */
.Expertise___bg .react-tabs__tab--selected{
    background: #d40834;
}

.Expertise___bg .react-tabs__tab-panel--selected{
    width: 45%;
}

/* EMP SLIDER CSS ========================== */
.Employees__slider .slick-prev{
    position: absolute;
    right: 0;
    bottom: 100px;
    background: white;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px gray;
    border-radius: 22px;
    z-index: 9999;
}
.Employees__slider .slick-next{
    position: absolute;
    left: 0;
    bottom: 100px;
    background: white;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px gray;
    border-radius: 22px;
    z-index: 9999;
}

.Employees__slider .slick-prev:hover,
.Employees__slider .slick-next:hover {
    background-color: red;
    color: white;
}

/* BLOG TABS CSS =============================== */
.blogTabs .react-tabs .react-tabs__tab-list {
    border: none;
}
.blogTabs .react-tabs .react-tabs__tab-list .react-tabs__tab {
    border: none !important;
}
/* TETSIMONIALS SLIDER MARGIN AS GLOBAL CLASS */
.testimonials .slick-slide {
    margin: 0 20px; /* Adjust margins as needed */
}
/* ====================================== */
.devTech .slick-dots{
    display: flex !important;
    justify-content: center;
}
.devTech .slick-dots li button{
    width: 100px;
    background: rgb(219, 216, 216);
    height: 0;
    color: transparent;
}
.devTech .slick-dots li.slick-active button{
    background: #e3204a;
}
.devTech .slick-dots li button::before{
    display: none;
}

/* FAQS SLIDER CSS =============== */
.faqs_slider .slick-slide{
    padding: 0 30px;
} 

/* OurPackages ============================*/
.OurPackages ul li.react-tabs__tab--selected{
    background: #c1202f;
    color: #FFFFFF;
}

/* PORTFOLIO WORK SECTION CSS ===================== */
.port__box ul .react-tabs__tab--selected{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color:  rgb(227, 32, 74) !important;
    color: rgb(227, 32, 74);
    background: transparent;
}
.port__box ul li:focus{
    outline: none;
    border-color:  rgb(227, 32, 74) !important;
}

 .react-tabs__tab{
    border-bottom: 3px solid transparent !important;
}
/* ==================================================== */
@keyframes scale-up-center {
			
    0% {
        transform:scale(.2);
    }
    100% {
        transform:scale(1);
    }
}
.portfolio_images img{
    object-fit: cover;
    animation: scale-up-center 0.2s linear 0s 1 normal none;
}
@media screen and (max-width:992px){
    .Expertise___bg .react-tabs__tab-panel--selected{
        width: 100%;
    }
}