@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* body,section{
    overflow-x: clip;
} */
/* :root{
    overflow-x: clip;
} */
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
ul,
a {
    font-family: "Monctserrat", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: block;
}
a{
    text-decoration: none !important;
}
button {
    font-family: "Monctserrat", sans-serif;
    border: none;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

span {
    cursor: pointer;
}

/* HOME TABS SOME STYLE ================================= */
.hometabsSection .react-tabs {
    display: flex;
}

.hometabsSection .react-tabs .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-left: 1px solid white;
    padding-left: 20px;
    height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 75px 10px;
}

.hometabsSection .react-tabs .react-tabs__tab-list::-webkit-scrollbar {
    width: 0;
}

.hometabsSection .react-tabs .react-tabs__tab-list::-webkit-scrollbar-track {
    background: transparent;
}

.hometabsSection .react-tabs .react-tabs__tab-list::-webkit-scrollbar-thumb {
    background: transparent;
}

.hometabsSection .react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
    background: transparent;
    border-color: transparent;
    color: white !important;
    font-size: 25px;
    font-weight: 600;
    border-radius: 0;
    border: 0;
    outline: none;
}
.hometabsSection .react-tabs .react-tabs__tab-panel--selected {
    width: 55%;
}

.hometabsSection .react-tabs .react-tabs__tab-list .react-tabs__tab{
    font-weight: 600;
    font-size: 18px;
    color: #c7c0c096;
}
.hometabsSection .react-tabs .react-tabs__tab-list .react-tabs__tab:focus:after {
    background: transparent;
}

.slick-slide:focus{
    outline: none;
}


/* ========================= BRANDING */
.branding .slick-dots{
    display: flex !important;
    justify-content: center;
}
.branding .slick-dots li button{
    width: 130px;
    background: rgb(219, 216, 216);
    height: 4px;
    color: transparent;
}
.branding .slick-dots li.slick-active button{
    background: #e3204a;
}

/* EXPERTISE GLOBAL CSS ================== */
.Expertise___bg .react-tabs__tab--selected{
    background: #d40834;
}

.Expertise___bg .react-tabs__tab-panel--selected{
    width: 45%;
}

/* EMP SLIDER CSS ========================== */
.Employees__slider .slick-prev{
    position: absolute;
    right: 0;
    bottom: 100px;
    background: white;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px gray;
    border-radius: 22px;
    z-index: 9999;
}
.Employees__slider .slick-next{
    position: absolute;
    left: 0;
    bottom: 100px;
    background: white;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px gray;
    border-radius: 22px;
    z-index: 9999;
}

.Employees__slider .slick-prev:hover,
.Employees__slider .slick-next:hover {
    background-color: red;
    color: white;
}

/* BLOG TABS CSS =============================== */
.blogTabs .react-tabs .react-tabs__tab-list {
    border: none;
}
.blogTabs .react-tabs .react-tabs__tab-list .react-tabs__tab {
    border: none !important;
}
/* TETSIMONIALS SLIDER MARGIN AS GLOBAL CLASS */
.testimonials .slick-slide {
    margin: 0 20px; /* Adjust margins as needed */
}
/* ==================================================== */
@media screen and (max-width:992px){
    .hometabsSection .react-tabs {
        flex-direction: column;
    }
    .hometabsSection .react-tabs .react-tabs__tab-list {
        flex-direction: row;
        border-left: none;
        padding-left: 0;
        height: auto;
        overflow-x: unset;
        padding: 0;
        white-space: nowrap;
    }
    .hometabsSection .react-tabs .react-tabs__tab-panel--selected {
        width: auto;
    }
    .Expertise___bg .react-tabs__tab-panel--selected{
        width: 100%;
    }
}