.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heading p {
    color: #000;
    margin: 0;
    letter-spacing: .625em;
    font-weight: 500;
}

.heading span {
    color: #000;
    margin: 0;
    font-size: 3em;
    font-weight: 200;
}

.socialIcon {
    display: flex;

}

.Icon {
    font-size: 28px;
    margin: 10px;
}

.socialrow {
    display: flex;
    width: 100%;
}

.socialrow .icon {
    color: #fff;
    font-size: 28px;
}

.bgBox {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    height: 200px;
}

.Youtube {
    background-image: url('../../assets/images/home/social-img-youtube.webp');
}

.facebook {
    background-image: url('../../assets/images/home/social-img-second.webp');
}

.facebook2 {
    background-image: url('../../assets/images/home/social-img-fb.webp');
}

.instagram {
    background-image: url('../../assets/images/home/social-img-instagram.webp');
}

.twitter {
    background-image: url('../../assets/images/home/social-img-twitter.webp');
}

.instagram2 {
    background-image: url('../../assets/images/home/social-img-instagram2.webp');
}

.facebook3 {
    background-image: url('../../assets/images/home/social-img-fb2.webp');
}

.instagram3 {
    background-image: url('../../assets/images/home/social-img-fb-eight.webp');
}

.facebook4 {
    background-image: url('../../assets/images/home/social-img-fb9.webp');
}