.container{
    /* height: 100vh; */
    padding:  40px 0px;
    
}
.left{
    padding-right: 80px;
}
.left h2{
    font-weight: 400;
    font-size: 1.75em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.5em 0;
    line-height: 1;
}

.left p{
    font-size: .75em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 1em 0;
    line-height: 1.5;
}
.right{
}
.right h4{
    font-size: 1.25em;
    line-height: 123%;
    margin-bottom: 1.35em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.hightbox{
    background: #f6f6f6;
    padding: 10px;

}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxe1{
    border-right: 1px solid #c9c3c3;
}
.boxe1 p{
    color: #363636;
    text-align: center;
    font-size: .775em;
    font-weight: 400;
       font-family: "Montserrat", sans-serif;
       letter-spacing: 1px;
}

.boxe2 p{
    color: #363636;
     text-align: center;
    font-size: .775em;
    font-weight: 400;
       font-family: "Montserrat", sans-serif;
       letter-spacing: 1px;
}
.boxe3 p{
    color: #363636;
       text-align: center;
   font-size: .775em;
    font-weight: 400;
       font-family: "Montserrat", sans-serif;
       letter-spacing: 1px;
}
.boxe3{
    border-left: 1px solid #c9c3c3 ;
}

.boxe1{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.boxe2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.boxe3{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.boxe1 h2{
color: #e3204a;
    font-size: 2.25em;
    font-weight: 500;
}
.boxe2 h2{
    color: #e3204a;
   font-size: 2.25em;
    font-weight: 500;
}
.boxe3 h2{
    color: #e3204a;
      font-size: 2.25em;
    font-weight: 500;
}

.cardImage{
  width: 5.0625em;
    height: 5.0625em;
    background-color: #c1c1c1;
    bottom: 12px;
    position: relative;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em 0;
    transition: .25s;
}

.cardImageHover{
     width: 5.0625em;
    height: 5.0625em;
    background-color: #e3204a;
    bottom: 12px;
    position: relative;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em 0;
    transition: .25s;
}

.card{
        position: relative;
        padding: 15px;
    /* background-color: red; */
}
.card::before{
        content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 2.1875em);
    bottom: 0;
    left: 0;
    background-color: #ffff;
    z-index: -1;
    border-radius: 1em;
    /* opacity: 0; */
    transition: .25s;

}

.cardHover{
    position: relative;
        padding: 15px;
}

.cardHover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 2.1875em);
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 1em;
    /* opacity: 0; */
    transition:.25s;
    background-color: #c1c1c1;
}

.card ul{
    padding: 0px;
}

.cardHover ul{
    padding: 0px;

}

.card h2{
    font-size: 1.875em;
    font-weight: 600;
    color: #363636;
    letter-spacing: -.045em;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.5em 0;
}
.cardHover h2{
    font-size: 1.875em;
    font-weight: 600;
    color: #363636;
    letter-spacing: -.045em;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.5em 0;
}

.card ul li{
       font-size: .789em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #363636;
    line-height: 1.5;
    margin-bottom: 5px;
    
}
.cardHover ul li{
         font-size: .789em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #363636;
    line-height: 1.5;
    margin-bottom: 5px;
}

.CardHead{
       display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    height: 89px;
}


.Arrow{
 width:  100px;
 position: relative;
 bottom: 15px;
 left: 9px;
}
.Arrow path{
    fill: #e3204a;
}
/* .Arrow2{
     width: 130px;
 position: relative;
 bottom: 12px;

} */

.ReverseImage{
         width: 100px;
 position: relative;
bottom: 10px;
    /* top: 5px; */
    left: 19px;
     transform: rotateX(181deg) rotateY(0deg) rotateZ(0deg);
}

.ELementHover{
    color: #e3204a;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;

}

.ELement{
    color: #c1c1c1;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;

}

.svgImage{
    width: 35px !important;
    
}
 .row2{
    display: flex;
    flex-wrap: wrap;
 }


/* .col{
    width: 25%;
} */