.services{
    width: 100%;
    overflow: clip;
}
.headerContainer{
    background-image: url('../assets/images/service/serviceshero.jpeg');
}

.headerContainer::before{
        content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(226.92deg, rgba(227, 32, 74, .84) 15.33%, rgba(0, 0, 0, .88) 55.21%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: .7;
}
.servicero{
    display: flex;
    align-items: center;
}
.leftside{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    padding: 25px;
    padding-left: 100px;

}
.divline{
    border-bottom: 2px solid #fff;
     width: 35px;
    position: relative;
    margin: 5px 5px ;


}
.HeadIcon{
    color: #fff;
    font-size: 12px;
}

.divtext{
    /* position: relative; */
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 0 0.5em 0 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.iconsdiv{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    z-index: 1;
}

.Heading{
    font-size: 2.5em;
    line-height: 1.22;
    letter-spacing: -.045em;
    text-transform: capitalize;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.Rightside{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.FormContainer{
  background: #fff;
  width: 80%;
  padding: 30px;
  margin-top: 50px;
}
.ContactForm h3{
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin: 0 0 0.5em 0;
    font-size: 16px;
    font-weight: 700;
}

.ContactForm p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 1.5em 0;
    color: #000000;
    line-height: 1.5;
    font-size: 14px;
  
}

.Input{
    border: none;
     border-bottom: 1px solid rgba(121, 121, 121, .2);
    outline: none;
    font-size: 12px;
    color: rgba(121, 121, 121, 0.938);
    font-family: "Montserrat", sans-serif;
}

.Input:focus{
  border: none;
  outline-offset: none;
  outline: none !important;
  border-bottom: 1px solid rgba(121, 121, 121, .2);
}

.Formgroup{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.label{
    font-size: 12px;
    color: rgba(22, 22, 22, 0.877);
    font-family: "Montserrat", sans-serif;
}

.button{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sendIcon{
    background-color: #c61a3c;
    border-radius: 50%;
    padding: 7px 10px;
    color: white !important;
    margin-left: 5px;
}

.sendtext{
    font-weight: 600;
    font-size: 16px;
     font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 992px) {
   .servicero{
    padding-top: 55px;
   }
   .leftside{
    padding-left:40px;
   }
   .Heading{
    font-size: 1.5em;
   }
   .FormContainer{
    margin-top: 0px;
   }
   .iconsdiv{
    top: 58%;
    left: 4%;
   }
   .ContactForm p{
    font-size: 10px;
   }
   .label{
    font-size: 10px;
   }
}


@media screen and (max-width: 576px) {
    .iconsdiv{
        display: none;
    }
    .FormContainer{
        padding: 15px;
    }
    .Heading{
    font-size: 1em;
   }
   .leftside{
    padding-left:30px;
   }
}