
  
  #cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #18d26e;
    border-radius: 100%;
    pointer-events: none;
    z-index: 1000;
    transition: transform ease-out 10ms;
  }
  
  #stalker {
    position: fixed;
    margin-top: -15px;
    margin-left: -15px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    opacity: 30%;
    border-radius: 100%;
    pointer-events: none;
    transition: transform ease-out 100ms;
    z-index: 999;
  }
  