.container{
    /* padding: 30px; */
    margin-top: 50px;
}

.row{
    display: flex;
}

.heading{
    color: #363636;
    font-weight: 600;
    letter-spacing: -.035em;
    text-transform: capitalize;
    line-height: 1.22;
    animation: 0.5s ease-out 0s 1 normal forwards running anim;
}

.heading span{
    color: #c61a3c;
       font-weight: 600;
    letter-spacing: -.035em;
    text-transform: capitalize;
    line-height: 1.22;
    animation: 0.5s ease-out 0s 1 normal forwards running anim;
}

.card{
    padding: 20px;
}
.imgdiv{
     /* padding: 20px; */
    border-radius: 50%;
    width: 4vw;
    height: 8vh;
    display: flex;
    background-color: #7776763f;
    justify-content: center;
    align-items: center;

}

.imgdivres{
    background-color: #c61a3c;
      border-radius: 50%;
    width: 4vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image{
    width: 20px;
}
.cardcontent{
    margin-top: 10px;
}
.cardcontent span{
color: #363636;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.04em;
    line-height: 1.22;
     font-family: "Montserrat", sans-serif;
    margin: 0 0 1em 0;
}
.cardcontent p{
    color: #363636;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 1em 0;
}

/* .card:hover{

} */

.box{
    /* width: 33%; */
    
}
.box:hover{
        background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

@media screen and (max-width:992px) {
    .imgdiv{
        width: 6vw;
        height: 11vh;
    }
}

@media screen and (max-width:786px) {
    .imgdiv{
        width: 7vw;
        height: 11vh;
    }
}

@media screen and (max-width:500px) {
    .imgdiv{
        width: 8vw;
        height: 11vh;
    }
}